<div class="flex justify-center items-center p-4">
  <mat-expansion-panel hideToggle class="max-w-3xl w-full flex flex-col gap-3 items-center">
    <mat-expansion-panel-header class="flex justify-between">
      <mat-panel-title>
        <mat-checkbox [checked]="selected" (change)="selectTask($event)" (click)="$event.stopPropagation()">
        </mat-checkbox>
        <span>
          {{ task.title | capitalize }}
        </span>
      </mat-panel-title>
      <div class="flex items-center relative">
        <span [ngClass]="getStatusClass()" (click)="toggleStatusDropdown($event)" [matMenuTriggerFor]="menu">
          {{ getStateDisplay(task.state) }}
        </span>
        <mat-menu #menu="matMenu">
          <div *ngFor="let state of TaskState | keyvalue" class="px-4 py-2 cursor-pointer hover:bg-gray-200"
            (click)="changeState(state.key)">
            {{ stateDisplayMap[state.value] }}
          </div>
        </mat-menu>
        <button mat-icon-button (click)="updateTask($event)">
          <mat-icon class="text-gray-500">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removeTask($event)">
          <mat-icon class="text-gray-500">delete</mat-icon>
        </button>
      </div>
    </mat-expansion-panel-header>
    <p>{{ task.description }}</p>
    <!-- <p class="text-end">À compléter avant le : {{ task.endDate | date: "MMM dd, yyyy" }}</p> -->
    <p class="rounded-full flex gap-2 items-end justify-end">
      <mat-icon [ngClass]="
          {
            'text-gray-400': !isDelayed(),
            'text-red-400': isDelayed()
          }
          ">calendar_today</mat-icon>
      <span class="text-gray-400">
        {{ task.endDate | date: "MMM dd, yyyy" }}
      </span>
    </p>
  </mat-expansion-panel>
</div>