<div *ngIf="authService.user$ | async as user" class="fixed top-16 w-full bg-white z-10">
    <app-search-bar [showDeleteIcon]="delete" (add)="createTask()" (search)="handleSearch($event)"
        (delete)="handleDelete()" (state)="handleChangeState($event)"></app-search-bar>
</div>
<div class="tasks-list overflow-y-auto mt-44">
  <ng-container *ngIf="authService.user$ | async as user; else notLoggedIn">
    <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
      <app-task 
        *ngFor="let task of tasks" 
        [task]="task" 
        (remove)="handleRemoveTask($event)"
        (update)="handleUpdateTask($event)"
        (updateState)="handleUpdateTaskState($event)"
        (select)="handleSelectTask($event)">
      </app-task>
    </ng-container>
  </ng-container>
</div>
<ng-template #noTasks>
    <div class="flex items-center justify-center pt-20">
        <p class="text-gray-500 text-3xl font-bold text-center">
          {{ noTaskMessage }}
        </p>
      </div>
</ng-template>
<ng-template #notLoggedIn>
  <div class="flex justify-center items-center p-8 text-center">
    <p class="text-gray-600 text-lg font-medium">
      {{ languageService.translate('auth.guard.notLogged1') }} <a routerLink="/login" class="text-blue-500 hover:underline">{{ languageService.translate('auth.guard.notLogged2') }}</a> {{ languageService.translate('auth.guard.notLogged3') }}
    </p>
  </div>
</ng-template>
